{% extends 'base.html' %}

{% block title %}CarKoto|About{% endblock title %}


{% block body %}

  <div class="has-bg-img">
         <div class="bg-img bg-cover" style="background-image: url('static/temp images/about2.jpg'); height:100vh; width:100%; background-repeat:no-repeat; background-size:cover; background-attachment: fixed;">
       
        
        <h2 class="text-center text-white">About Us</h2> <hr><hr>

    <div class="containerabout text-center bg-dark mx-5 p-5 opacity-75">


      <h2 style="color:white"><i>CarKoto</i></h2>
      <p style="color:white"> <b>CarKoto</b> is an online website for Bangladeshi used car buy & sell. This website established in 2023 and is currently in the testing process.<br> This website is not only bounded to vehicle buy and sell but also you can predict the price of your car using Artificial Inteligence using Machine Learning.<br> This is a CSE499 Senior Project and this project was done under the supervision of our honorable Faculty Member: <b>Dr. Mohammad Abdul Qayum.<b><br> We were altegether three members for this project: <br><b> Abdullah Nafis Chowdhury</b><br><b>192108104<b>2<br> <b>Sayem Ahmed Sajil<b><br><b>1921449642<b><br><b> Sabrina Jahan Akhi<b><br><b>1821164026<b> </p>
      </div>  
      
      </div>

    </div>
  

{% endblock body %}